body {
    padding-top: 20px;
    font-family: 'StoryRegular', sans-serif;
    -webkit-font-smoothing: subpixel-antialiased !important;
}

input, button, a {
    -webkit-font-smoothing: subpixel-antialiased !important;
}

#logo {
    margin: 0;
    width: 240px !important;
}

select {
    border: 1px solid #D9D9DB;
    font-family: "Ubuntu", sans-serif;
    background-image: url("select_arrow.gif");
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-appearance: none;
}

textarea, select, input[type="date"], input[type="datetime"],
input[type="datetime-local"], input[type="email"], input[type="month"],
input[type="number"], input[type="password"], input[type="search"],
input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    -ms-background-clip: padding-box;
    -o-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    background-color: white;
    outline: 0;
    margin: 0;
    padding: 2px 3px;
    text-align: left;
    font-size: 13px;
    height: 1.8em;
    vertical-align: top;
}

.webkit select, select[size="0"], select[size="1"] {
    padding-right: 20px;
}

::selection {
    background: #FA197D;
}

.hide {
    display: none;
}

.mt20 {
    margin-top: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: 'StoryBold', sans-serif;
}

th {
    font-weight: normal;
    font-family: 'StoryBold', sans-serif;
    letter-spacing: 1px;
}

strong {
    font-weight: normal;
    font-family: 'StoryBold', sans-serif;
    letter-spacing: 1px;
}

dl dt {
    font-weight: normal;
    font-family: 'StoryBold', sans-serif;
    letter-spacing: 1px;
}

a {
    color: #FA197D;
}

a:hover {
    color: #ad1158 !important;
}

#product-thumbnails li:hover, #product-thumbnails li.selected {
    border-color: #FA197D;
}

input[type="submit"], input[type="submit"], button, a.button {
    background-color: #FA197D;
    border: none;
    font-family: 'StoryRegular';
    font-weight: normal;
    text-transform: uppercase;
    box-shadow: none;
}

button[disabled='disabled'] {
    color: white;
    background: #404042;
}

button.large {
    padding: 9px 18px 7px 18px;
    font-size: 14px;
}

input[type="submit"], a.button, button {
    font-size: 15px;
    line-height: 20px;
    padding: 3px 15px 0 15px
}

.flash, .errorExplanation {
    font-weight: normal;
    font-family: 'StoryRegular';
    letter-spacing: 1px;
}

.errorExplanation h2 {
    color: white !important;
}

ul#products li a.info {
    font-weight: normal;
    font-family: 'StoryBold';
    font-size: 14px;
    color: black;
}

ul#products li .price {
    font-weight: normal;
    color: #FA197D;
    font-family: 'StoryBold';
}

#header {
    position: relative;
    z-index: 5;
    margin-bottom: 10px;
}

#footer {
    margin-left: 0;
}

.footer-social {
    float: right;
}

.footer-social span {
    vertical-align: top;
}

.footer-social img {
    margin-left: 6px;
    cursor: pointer;
}

#footer-left {
    color: #707070;
}

#footer-right ul {
    list-style: none;
    margin: 0;
}

#footer-right ul li {
    float: left;
    margin-right: 10px;
}

#footer-right ul li a {
    color: #505050;
    text-decoration: underline;
}

#footer-pages {
    float: right;
}

.header_left_center {
    float: left;
    margin-top: 23px;
}

.header_center {
    float: right;
}

.header_center img {
    float: left;
    margin-left: 20px;
}

.phone {
    float: left;
    color: #202020;
    font-size: 26px;
    margin-top: 28px;
    margin-left: 20px;
}

#top-nav-bar {
    width: 690px;
    margin-right: 0;
}

.super-top {
    float: right;
    position: absolute;
    right: 10px;
}

.super-top a {
    float: left;
    font-size: 14px;
    text-transform: uppercase;
    margin-right: 10px;
}

span.price, #checkout-summary table tr[data-hook="item_total"] td:last-child strong,
#checkout-summary table #summary-order-total, #order_details td.price span,
#order_details td.total span, #order_summary td.price span, #order_summary td.total span,
table#cart-detail tbody#line_items tr td[data-hook="cart_item_price"],
table#cart-detail tbody#line_items tr td[data-hook="cart_item_total"],
div[data-hook="inside_cart_form"] #subtotal span.order-total {
    font-weight: normal;
    color: #FA197D;
    font-family: 'StoryBold';
}

.subtaxon-title a {
    color: #FA197D;
}

.taxon-title-div {
    border: 1px solid #e5e5e5;
    margin-bottom: 15px;
    padding: 10px 50px;
    text-align: center;
}

.taxon-desc {
    color: #404040;
}

.taxon-title {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'StoryRegular';
    font-size: 22px;
}

.taxon-title-home {
    display: inline-block;
    margin-right: 15px;
}

.sub-taxon-div {
    margin-left: 0;
    margin-top: 10px;
}

.sub-taxon {
    width: 195px !important;
    display: inline-block;
    text-align: center;
    margin-right: 0;
}

.sub-taxon a {
    padding: 2px;
}

.sub-taxon a:hover {
    background: #404040;
    color: white !important;
}

input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover, button:hover, a.button:hover {
    background-image: none;
    background-color: #404042;
    border-color: #404042;
    color: white !important;
}

#billing legend, #shipping legend, #shipping_method legend,
#payment legend, #order_details legend, #order_summary legend {
    font-weight: normal;
    color: black;
}

#order_summary {
    padding: 0 10px;
}

#order_summary #order .steps-data div.columns:first-child {
    margin-left: 0;
}

#checkout .three.columns {
    width: 245px !important;
}

#checkout .thirteen.columns {
    width: 675px !important;
}

#main-nav-bar li > a:hover {
    color: white !important;
    background: #404042;
}

nav #main-nav-bar li > a {
    padding: 7px 6px 5px 6px !important;
}

nav #main-nav-bar {
    padding-bottom: 4px;
}

nav #main-nav-bar li#link-to-cart > a {
    font-size: 18px;
    padding: 6px 6px 4px 6px !important;
}

#sidebar_products_search .filter-title {
    font-weight: normal;
    color: black;
}

aside#sidebar {
    margin-left: 0;
}

#breadcrumbs {
    margin-right: 0;
    margin-left: 0;
}

#breadcrumbs li a {
    color: #FA197D;
}

#breadcrumbs ul {
    margin-bottom: 0;
}

#breadcrumbs li span {
    font-weight: normal;
    font-family: 'StoryBold', sans-serif;
}

.filter_choices {
    list-style: none;
}

nav #main-nav-bar li#link-to-cart > a {
    font-family: 'StoryBold';
    font-weight: normal;
    color: #FA197D;
}

nav #main-nav-bar li#link-to-cart > a .amount {
    font-family: 'StoryBold';
    font-weight: normal;
}

nav #main-nav-bar li#link-to-cart a .amount {
    border-left: none;
}

nav#taxonomies .taxonomy-root {
    font-family: 'StoryBold';
    font-weight: normal;
    font-size: 16px;
}

nav#taxonomies .taxons-list {
    list-style: none;
    padding-left: 10px;
}

nav#taxonomies .taxons-list > li {
    padding: 2px;
}

nav#taxonomies .taxons-list > li > a {
    font-size: 14px;
}

nav#taxonomies .taxons-list > li > a:hover {
    padding: 1px;
    background: #FA197D;
    color: white !important;
}

nav #main-nav-bar {
    font-weight: normal;
}

nav#top-nav-bar ul li a {
    font-weight: normal;
}

ul#products li .product-image:hover {
    border-color: #FA197D !important;
}

.product-image {
    padding: 0 !important;
}

.cart-item-description {
    width: 400px;
}

td[data-hook='order_item_total'] {
    text-align: right;
}

td[data-hook='order_item_price'], td[data-hook='order_item_qty'] {
    text-align: center;
}

tr[data-hook='order_details_line_items_headers'] .total {
    text-align: right;
}

tr[data-hook='order_details_line_items_headers'] .name {
    text-align: left;
}

#shipping_method p label {
    font-weight: normal;
    font-family: "StoryBold";
}

.progress-steps li.current-first, .progress-steps li.current {
    background: #FA197D;
}

[data-hook='checkout_form_wrapper'] {
    width: auto !important;
}

.progress-steps li {
    font-weight: normal;
    font-family: 'StoryRegular';
    letter-spacing: 1px;
    padding: 6px 20px 4px 20px;
}

.progress-steps li.completed-first:hover, .progress-steps li.completed:hover {
    background: #FA197D;
    color: white;
}

table.order-summary tbody tr td:first-child a {
    font-family: 'StoryBold';
    font-weight: normal;
    color: #FA197D;
}

#link-to-cart span.amount {
    display: inline !important;
}

.user-info h4 {
    font-family: "StoryRegular";
}

.user-info h4 .edit {
    font-size: 12px;
}

.user-info dt {
    width: 200px;
    font-family: "StoryRegular";
}

.user-info {
    margin-bottom: 15px;
    border: 1px solid #D9D9DB;
    padding: 10px;
}

.propSelect {
    min-width: 250px;
}

.cart-popover {
    background: rgba(64, 64, 64, 0.95) !important;
    border-radius: 0 !important;
    color: white;
    box-shadow: none !important;
    width: 100px;
    border: none !important;
    font-size: 15px;
    text-align: center;
}

.cart-popover p {
    padding: 0;
    margin: 0;
}

.cart-popover .popover-title {
    display: none !important;
}

.cart-popover .arrow {
    border-top-color: rgba(64, 64, 64, 0.95) !important;
}

#minicart-items {
    max-height: 280px;
    overflow: auto;
}

table tbody tr.alt, table tbody tr.odd, table tfoot tr.alt, table tfoot tr.odd {
    background-color: rgb(248, 248, 248);
}

.pagination {
    font-size: 16px;
}

.pagination .next, .pagination .prev {
    font-size: 20px;
}

.pagination a {
    line-height: 33px !important;
    padding-top: 5px !important;
}

.taxonomyContent {
    border: 1px solid #a0a0a0;
    padding: 10px 10px 7px 10px;
    min-width: 150px;
    background: white;
    box-shadow: #bbbbbb 3px 3px 5px;
}

.taxonomyContent li {
    margin-bottom: 3px;
    display: block !important;
    text-transform: capitalize !important;
}

.taxonomyContent li a {
    font-size: 14px !important;
}

.taxonomyContent li a:hover {
    padding: 1px !important;
    background: #FA197D !important;
}

.pagination li.active:hover a {
    color: rgb(153, 153, 153) !important;
}

ul#products li .product-image {
    border: none;
    height: 225px;
}

ul#products li a.info {
    border-bottom: 1px solid #ececec;
}

#product-thumbnails li img {
    padding: 0;
    vertical-align: middle;
}

#product-thumbnails li {
    margin-bottom: 5px;
    margin-right: 3px;
    height: 115px;
    line-height: 115px;
}

#product-thumbnails li:nth-child(1) {
    margin-right: 6px;
}

#product-thumbnails li:nth-child(2) {
    margin-right: 6px;
}

#product-thumbnails li:nth-child(3) {
    margin-right: 0;
}

#product-thumbnails li:nth-child(4) {
    margin-right: 6px;
}

#product-thumbnails li:nth-child(5) {
    margin-right: 6px;
}

#product-thumbnails li:nth-child(6) {
    margin-right: 0;
}

#main-image {
    height: 370px;
    line-height: 370px;
}

#main-image img {
    vertical-align: middle;
}

#product-price .product-section-title {
    margin-top: 0;
}

div[data-hook="product_price"] {
    width: 220px !important;
}

div[data-hook="product_right_part"] {
    width: 640px !important;
}

.add-to-cart button.large.primary {
    padding-left: 10px;
    padding-right: 10px;
}

.add-to-cart input[type="number"] {
    width: 45px;
    margin-right: 3px;
    vertical-align: middle;
    padding: 5px;
    height: 35px;
}

#password-showable-wrap {
    position: relative;
}

.password-showing {
    width: 291px;
}

.show-password-link {
    display: block;
    position: absolute;
    z-index: 11;
    width: 60px;
    padding: 6px 0 3px 0;
    line-height: 14px;
    text-align: center;
    background: #FA197D;
    color: white;
    top: 28px !important;
    left: 300px !important;
}

.show-password-link:hover {
    color: white !important;
}

#registration [type='submit'], [data-hook='signup'] [type='submit'], [data-hook='login'] [type='submit'] {
    font-size: 16px;
    line-height: 20px;
    padding: 6px 20px 3px 20px;
}

@font-face {
    font-family: 'StoryItalic';
    src: url('/assets/story_i-webfont.eot');
}

@font-face {
    font-family: 'StoryItalic';
    src: url('/assets/story_i-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'StoryBold';
    src: url('/assets/story_b-webfont.eot');
}

@font-face {
    font-family: 'StoryBold';
    src: url('/assets/story_b-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'StoryRegular';
    src: url('/assets/story-webfont.eot');
}

@font-face {
    font-family: 'StoryRegular';
    src: url('/assets/story-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
