body {
    font-family: 'StoryRegular', sans-serif;
}

#logo {
    padding-top: 15px;
    height: 80px;
}

#header h1 {
    left: 250px;
}

#header {
    height: 114px;
}

@font-face {
    font-family: 'StoryRegular';
    src: url('/story-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}