<footer id="footer" class="sixteen columns" data-hook>
  <div id="footer-left" class="columns alpha eight" data-hook>
    2012&nbsp;&ndash;&nbsp;2013 © Brasol
  </div>
  <div id="footer-right" class="columns omega eight" data-hook>
    <div class="footer-social">
      <span>
        Мы в социальных сетях:
      </span>
      <a href="http://www.facebook.com/Fashionabuse" target="_blank">
        <img id="facebook-social" src="/assets/store/facebook-bw.png" width="32">
      </a>
      <a href="http://vk.com/brasol" target="_blank">
        <img id="vkontakte-social" src="/assets/store/vkontakte-bw.png" width="32">
      </a>
    </div>
  </div>
</footer>
