<nav id="top-nav-bar" class="columns eleven">
  <ul id="nav-bar" class="inline" data-hook>
    <div class="header_left_center">
      <li id="search-barishe" data-hook>
        <%= render :partial => 'spree/shared/search' %>
      </li>
    </div>
    <div class="header_center">
      <img src="/assets/store/header-free-delivery.png" style="margin-top: 12px"/>
      <div class="phone">097 564-06-37</div>
    </div>
  </ul>
</nav>
