<p>
  <%= f.label :firstname, t(:first_name) %><br />
  <%= f.text_field :firstname, :class => 'title' %>
</p>

<p>
  <%= f.label :lastname, t(:last_name) %><br />
  <%= f.text_field :lastname, :class => 'title' %>
</p>

<div data-hook="signup_below_password_fields"></div>
