<p>
  <%= f.label :email, t(:email) %><br />
  <%= f.email_field :email, :class => 'title' %>
</p>
<div id="password-credentials">
  <p id="password-showable-wrap">
    <%= f.label :password, t(:password) %><br/>
    <%= f.password_field :password, :class => 'title' %>
  </p>
</div>

<div data-hook="signup_below_password_fields"></div>
